* {
    box-sizing: border-box;
}

html, body {
    background-color: #222222;
    width: 100%;
    color: #cccccc;
}

body {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.6rem;
}

hr {
    border: 1px solid #666666;
}

b {
    font-weight: bold;
}

a {
    color: #cccccc;
    text-decoration: none;
}

a:hover {
    color: #ffc900;

    text-decoration: none;
    text-underline-offset: 0.5rem;
}

h1 {
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0rem;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;  
  font-weight: bold;
  padding-top : 0rem;
}

h3 {
  font-size: 5rem;  
  font-weight: 500;
  line-height: 1.25;
}

ul, ol {
  margin: 0 0 1em 1em;
  padding-left: 1em;
}

ul::after {
    content: "";
    display: table;
    clear: both;
}

li {
  margin: 0.25em 0;
  list-style: disc;
}


::-webkit-scrollbar { width: 0px; }
::-webkit-scrollbar-thumb { background-color: #666666;}
::-webkit-scrollbar-track { background-color: #333333;}