/* 태블릿 */
@media (max-width: 65rem) {
    body { font-size: 16px; }
    
    .works-personal-project-image { width: 14rem; }
    .thumbnail-container { grid-template-columns: 1fr 1fr; }

    #profile-photo { display: none; }

    #academic-research-photos,
    #teaching-activity-photos { gap: 1rem; }   

    #gallery-items { grid-template-columns: 7fr 3fr; }
}

@media (max-width: 52rem) {
    .experience-timeline-item {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .year {
        flex: 0 0 3.5rem;           /* 고정 너비 */
        font-size: 1.25rem;

        line-height: 2.25rem;
    }
    
    .content {
        padding-left: 1rem;               /* border와 텍스트 간격 */
        margin-left: 0.5rem;

        line-height: 2.25rem;

        letter-spacing: -0.02rem;
    }

    #works-items {
        padding-top: 0.25rem;
        padding-left: 0;
        padding-right: 0;
    }

    #gallery-items {    
        display: block;       
    }

    #gallery-items .thumbnail-container {                   
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
    }

    #gallery-thumbnail-list {
        margin-top: 2rem;
        height: 22rem;
    }

    .gallery-photo {
        width: 100%;
        height: 6.5rem;
    }
}


@media (max-width: 48rem) {
    .experience-timeline-item {
        gap: 0.5rem;                  /* year와 content 사이 간격 */
    }

    #academic-research-photos,
    #teaching-activity-photos {
        grid-template-columns: 1fr 1fr;

        gap: 0.75rem;
        padding: 0.75rem;
    }
   
    .works-personal-project-image {
        width: 16rem;
    }
}

@media (max-width: 34rem) {
    .experience-timeline-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .year {
        flex: 0 0 3rem;           /* 고정 너비 */
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .content {
        padding-left: 0.5rem;               /* border와 텍스트 간격 */
        margin-left: 0;

        line-height: 2rem;

        border-left: 0px solid #666666;
    }

    .works-content-title {
        line-height: 2rem;
    }

    .works-personal-project-image {
        width: 100%;

        float : none;

        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .gallery-photo {
        width: 100%;
        height: 6.5rem;
    }

    #gallery-moniter {
        height: 20rem;
    }

    #gallery-items .thumbnail-container {                   
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
}

@media (max-width: 30rem) {
    h3 { font-size: 4rem; }

    #navigation-items {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    #nav-right a {
        font-weight: 500;
        margin-right: 0.5rem;
    }

    #logo {
        height: 40px;
    }

    #experience,
    #works,
    #gallery,
    #links {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .experience-timeline-item {
        padding-left: 0;
        padding-right: 0;
    }

    .year {
        flex: 0 0 2.5rem;           /* 고정 너비 */
        font-size: 1rem;
    }

    .content {
        padding-left: 0.5rem;               /* border와 텍스트 간격 */
        margin-left: 0;

        border-left: 0px solid #666666;
    }

    .works-content-title {
        line-height: 1.75rem;
    }

    .works-personal-project-image {
        width: 100%;
    }

    .gallery-photo {
        width: 100%;
        height: 6.5rem;
    }

     #gallery-items .thumbnail-container {                   
        grid-template-columns: 1fr 1fr;
    }

    #gallery-moniter {
        height: 15rem;
    }

    #gallery-thumbnail-list {
        height: 22rem;
    }
}