#site_layout {
    width: 100%;
    height: auto;
}

#header {
    width: 100%;
    position: relative;
    height: auto;
    overflow: visible;
    border-bottom: .3em solid #718178;
}

#menus {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;    
    background: #333333;
    font-size: 20px;
    font-weight: bold;
    color: #DFDFDF;
    text-align: center;
    word-spacing: 1em;
    z-index: 1000;
    border-bottom: 0.15rem solid #718178;
}

#menu_items {
    max-width: 100%;
    width: 52em;
    padding-left: 2em;
    padding-right: 2em;
    line-height: 60px;
    margin: 0 auto;
}

#menu_left {
    float: left;
}

#menu_right {
    float: right;
}

#menu_right a {
    margin-left: 1em;
}


#menus a {
    color: #DFDFDF;
    text-decoration: none;
}

#menus a:hover {    
    border-bottom: 3px solid #1bd06f;
}

#menus::after {
    content: "";
    display: block;
    clear: both;
}

#logo {
    width: auto;
    height: 3em;
    vertical-align: middle;
    max-width: 187px;    
    padding: 0;
    margin: 0;
    border: 0px;
}

#signature_image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#contents {
    display: block;
    width: 100%;
    background-color: #dddddd;
    background-image: url('../background.gif');
    background-repeat: repeat;
    /*background-position: top left;*/
    background-size: 90px;
    line-height: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

#footer {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: #eeeeee;
    background-color: #333333;
}


#experience, #works, #skills, #gallery, #links {
    max-width: 100%;
    width: 60em;
    margin: 0 auto;
}


#experience_timeline {
    position: relative;
    margin: 0 auto;
}

.experience_timeline_item {
    clear: both;
    overflow: hidden;
    position: relative;
    border: 0px solid #333333;
}

.experience_timeline_item:after {
    content: "";
    display: block;
    clear: both;
}

.year {
    float: left;
    white-space: nowrap;
    vertical-align: top;
    font-size: 1.5em;
    font-weight: bold;
    color: #666666;
    margin-left: 1em;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 0.15em solid #718178;
    line-height: 1.5em;
    min-width: 3.5em;
    text-align: right;
}

.content {
    float: none;
    overflow: hidden;
    /*vertical-align: top;*/
    padding-top: 0.4em;
}

.contents_title_text {
    font-size: 2em;
    font-weight: bold;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.15em solid #718178;
}

#works .contents_title_text {
    margin-bottom: 0.25em;
}

#career_photo_me {
    position: absolute;
    top: 1em;
    right: 1.5em;
    width: 12em;
    height: auto;
    border: 0.5em solid #ffffff;
}

#teaching_activity_photos, #academic_research_photos {
    text-align: center;
}

.teaching_activity_photo, .academic_research_photo {
    width: 13em;
    height: auto;
    border: 0.25rem solid #ffffff;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.works_item_title {
    font-size: 1.5em;
}

.works_toggle_contents {
    display: none;
}

.works_personal_project_image {
    width: 12em;
    float: left;
    height: auto;
    margin-right: 2em;
    border: 0.25em solid #dddddd;
}

.works_personal_project_item:after {
    content: "";
    display: block;
    clear: both;
}

.works_personal_project_item {
    margin-bottom: 1em;
}

.skills_language_icon_img {
    width: 7em;
    height: auto;
    margin-left: 2em;
}

#skills_language_icon_div {
    border: 0px solid #333333;
    margin-top: 1.5em;
}

.contents_sub_title_text {
    font-size: 1.5em;
}

#gallery img {
    display: block;
    border: 0.25em solid #ffffff;
}

#gallery_table {
    display: table;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.gallery_row {
    display: table-row;
}

.gallery_item {
    display: table-cell;
    vertical-align: top;
    line-height: 0.75em;
    padding: 1em;
}
