html, body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  font-size: 16px; color: #D8D8D8;
  line-height: 1.3;
}

table { text-align: justify; }
a { text-decoration: none; } a:hover { color: #a6caf0; text-decoration: none; }

.tagCloud font { line-height: 1; }
.tagCloud a { text-decoration: none; }
.tagCloud a:hover { text-decoration: none; }

/* 팔레트 블록 */
.colorBlock {
    cursor: pointer;
    border: 1px solid #666666;
}

.teaching_activity_photo {
  width: 140px;
  height: auto;
  border: 2px solid #778899;
}

.works_toggle_contents {
  display:none;
}

.photo_gallery_thumbnailH {
  width: 120px;
  height: 160px;
  border: 2px solid #D8D8D8;
}

.photo_gallery_thumbnailW {
  width: 120px;
  height: 90px;
  border: 2px solid #D8D8D8;
}

.myPhoto {
  width: 50px;
  height: 50px;  
  border: 2px solid #AFAFAF;
}